<ion-view>
  <ion-nav-title>{{rvt.name}}</ion-nav-title>
  <ion-content class="padding">

    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="page-slider1" class="ion-slides-custom">
      <ion-slide-page style="background:url(&quot;{{img}}&quot;) no-repeat center;background-size:cover;" ng-repeat="img in rvt.images"></ion-slide-page>
    </ion-slides>

    <div class="center">
      <button class="button button-small button-assertive contactButton" ng-click="contactSeller()">
        Contact Seller
      </button>
    </div>

    <div class="tableContent">
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Year</div>
        <div class="col col-20">{{rvt.year}}</div>
        <div class="col col-60 rowDetailRigth">{{rvt.address}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Manufacturer</div>
        <div class="col col-80">{{rvt.manufacturer}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Brand</div>
        <div class="col col-80">{{rvt.brand}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Model</div>
        <div class="col col-80">{{rvt.model}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Category</div>
        <div class="col col-80">{{rvt.category}}</div>
      </div>
      <!--
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">State/Prov</div>
        <div class="col col-80">Default text FALTA</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">City</div>
        <div class="col col-80">Default text FALTA</div>
      </div>
      -->
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Length</div>
        <div class="col col-80">{{rvt.length}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Sleeps</div>
        <div class="col col-80">{{rvt.sleeps}}</div>
      </div>
      <!--
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Odometer</div>
        <div class="col col-80">Default text FALTA</div>
      </div>
      -->
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Slide-outs</div>
        <div class="col col-80">{{rvt.slides}}</div>
      </div>
      <!--
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Engine</div>
        <div class="col col-80">Default text FALTA</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Fuel Type</div>
        <div class="col col-80">Default text FALTA</div>
      </div>
      -->
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">GVWR</div>
        <div class="col col-80">{{rvt.gvwr}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Dry Weight</div>
        <div class="col col-80">{{rvt.dryWeight}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Stock Number</div>
        <div class="col col-80">{{rvt.stockNumber}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Price</div>
        <div class="col col-80">{{rvt.price}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Ad Number</div>
        <div class="col col-80">{{rvt.id}}</div>
      </div>
      <div class="row responsive-sm rowDetail">
        <div class="col col-20 bold">Description</div>
        <div class="col col-80" ng-bind-html="rvt.description"> </div>
      </div>
    </div>

  </ion-content>
</ion-view>