<ion-view>
  <ion-nav-title>{{rvt.name}}</ion-nav-title>
  <ion-content class="padding">
    <!--
    <div class="row responsive-sm">
      <div class="col col-20 titleVerticalAling">Email</div>
      <div class="col col-80"><input type="email" placeholder="Your Email Address" class="inputSize"></div>
   </div>
   <div class="row responsive-sm">
      <div class="col col-20 titleVerticalAling">First Name</div>
      <div class="col col-80"><input type="text" placeholder="Your First Name" class="inputSize"></div>
   </div>
   <div class="row responsive-sm">
      <div class="col col-20 titleVerticalAling">Last Name</div>
      <div class="col col-80"><input type="text" placeholder="Your Last Name" class="inputSize"></div>
   </div>
  
   <div class="row responsive-sm">
      <div class="col col-20 titleVerticalAling">Phone</div>
      <div class="col col-80"><input type="tel" placeholder="Your Phone Number" class="inputSize" ng-model="tel"></div>
   </div>
    -->
   <div class="row responsive-sm">
      <div class="col col-20 titleVerticalAling">Subject</div>
      <div class="col col-80"><input type="text" placeholder="The Subject Line" value="{{ rvt.name }}" class="inputSize" ng-model="sub"> </div>
   </div>
   <div class="row responsive-sm">
      <div class="col col-20 titleVerticalAling">Message</div>
      <div class="col col-80"><input type="text" placeholder="Your Message to The Seller" class="inputSize" ng-model="mes"></div>
   </div>

    <a href="mailto:{{rvt.contact.email}}?&amp;subject={{sub}}&amp;body={{mes}}" class="button button-small button-assertive contactButton"> Send Email</a>
  </ion-content>
</ion-view>