<ion-view>
  <ion-content class="padding">
	<div class="row responsive-sm row-flex">
	    <div class="list card col col-23" ng-repeat="rvt in rvts">
	     <a ng-href="#/rvts/{{ rvt.id }}">
			 <div class="item item-image">
			  <img ng-src="{{rvt.thumb}}" loading-src="img/defaultRV.png" class="imagen" />
			 </div>
	     </a>
	      <div class="item item-info">
	      	<div class="center bold item-info-text"> {{rvt.year}} {{rvt.name}} </div>
	      	<div class="center item-info-text"> {{rvt.address}} </div>
	      	<div class="center item-info-text"> {{rvt.price}} </div>
	      </div>
	    </div>
	    <ion-infinite-scroll on-infinite="loadMore()"></ion-infinite-scroll> 
	</div>
  </ion-content>
</ion-view>