/* Empty. Add your own CSS if you like */
.center {
	text-align: center;
}

.bold{
	font-weight: bold;
}
.row-flex{
  flex-wrap: wrap;
}

.padding .card, .padding .list-inset {
  margin-left: 1%;
  margin-right: 1%;
  height: 100%;
  }

.col-23 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 23%;
  -moz-box-flex: 0;
  -moz-flex: 0 0 23%;
  -ms-flex: 0 0 23%;
  flex: 0 0 23%;
  max-width: 23%;
}

.card{
	border: solid 1px;
}

.card, .list-inset {
  margin: 10px 10px;
  border-radius: 10px;
}

.col{
	padding: 0px;
}

.item-info{
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.item-info-text{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.imagen{
  object-fit: cover;
  object-position: center;
  height: 140px;
}

.contactButton{
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 14px;
  background-color: red !important;
  margin-top: 10px;
}

.tableContent{
  /*padding-left: 65px;
  padding-right: 65px;*/
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 15px;
}

.rowDetail{
  padding-bottom: 13px;
}
.rowDetailRigth{
  text-align: right;
}

.titleVerticalAling{
  line-height: 40px;
}

.inputSize{
  width: 260px;
}

.ion-slides-custom{
  width:100%;
  height:85%;
  height:85vh;
  /*padding-left: 65px;
  padding-right: 65px;*/
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
}

.spaceElementsHeader{
  margin-right: 3vw;
}

.logo{
  width: 34px;
  margin-left: 10px;
  margin-right: 10px;
}